<!DOCTYPE html>

<html>
  <head>
    <title>Apa</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="Logo.png" />
    <link rel="stylesheet" href="helpprincipalpage.css" />
  </head>

  <body>
    <video autoplay muted loop plays-inline class="backvideo">
      <source
        src="vecteezy_the-movement-of-cars-on-a-parking-lot-timelapse_1623435.mp4"
        type="video/mp4"
      />
    </video>

    <div class="wrapper hover_collapse">
      <header>
        <div class="upnavigationlist">
          <div>
            <img src="Logo.png" alt="" class="titleicon" />
          </div>

          <div class="mainmenu">
            <div class="hamburger">
              <i class="fa fa-bars" class="justacolforbars"> </i>
            </div>
          </div>
        </div>
      </header>

      <div class="sidebar">
        <div class="sidebar_inner">
          <ul>
            <li>
              <a href="principalpage.html"
                ><span class="icon"><i class="fa fa-home"></i></span
                ><span class="text"> Home</span></a
              >
            </li>
            <li>
              <a href="Explore.html"
                ><span class="icon"><i class="fa fa-keyboard-o"></i></span
                ><span class="text"> Explore</span></a
              >
            </li>
            <li>
              <a href="DidYouKnow.html"
                ><span class="icon"><i class="fa fa-book"></i></span
                ><span class="text"> DidYouKnow..</span></a
              >
            </li>
            <li>
              <a href="about.html"
                ><span class="icon"><i class="fa fa-question"></i></span
                ><span class="text"> About</span></a
              >
            </li>
            <li>
              <a href="contactUs.html"
                ><span class="icon"><i class="fa fa-phone"></i></span
                ><span class="text"> ContactUs</span></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="sectionMainPage">
        <div class="infoCenter1">
          <h2 class="textC">Welcome!</h2>

          <p class="textC">
            You arrived at the app that will help you to view all the info about
            auto parks You need as you like
          </p>

          <p class="textC">Now You can start digging into it!</p>
          <img class="imgSteve" src="steve.png" alt="nu sa incarcat" />
        </div>
      </div>
    </div>

    <script src="helppage.js"></script>
  </body>
</html>
